<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ScheduleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_kit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_kit_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".widget.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- No action bar -->
        <activity android:name=".ui.AboutLessonActivity" />
        <activity android:name=".ui.FullScheduleActivity" />
        <activity android:name=".ui.StartActivity" />
        <activity android:name=".ui.PreferencesActivity" />
        <activity android:name=".ui.AboutAppActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".widget.MainWidget"
            android:label="Виджет расписания">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/main_widget_metadata" />
        </receiver>

        <service
            android:name=".widget.LessonsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>